<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2015-11-22-hello-world.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417492.99744898</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-23-RSA-java.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417492.99745297</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-11-27-Ajax.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417492.99745202</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-18-SAE-404-error.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417492.99744999</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2015-12-22-jsoup-crawl-java.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417492.99745202</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-01-01-watch-ocean.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417492.99745101</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-15-java-initialization.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417492.99745101</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-03-android-notes.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>483417502.70704001</real>
				<key>version</key>
				<dict>
					<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
					<integer>8</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2015-11-22-hello-world.markdown</string>
		</array>
		<array>
			<string>2015-12-18-SAE-404-error.markdown</string>
		</array>
		<array>
			<string>2016-03-03-android-notes.markdown</string>
		</array>
		<array>
			<string>2016-02-15-java-initialization.markdown</string>
		</array>
		<array>
			<string>2016-01-01-watch-ocean.markdown</string>
		</array>
		<array>
			<string>2015-12-22-jsoup-crawl-java.markdown</string>
		</array>
		<array>
			<string>2015-11-27-Ajax.markdown</string>
		</array>
		<array>
			<string>2015-11-23-RSA-java.markdown</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>53263b75eb8c86a2004e730313edb3f15f88952529c49bf2698d4772bb386441</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
